<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="topMenu(isribbon)">
    <!-- 彩带 -->
    <div th:if="${isribbon eq true}" id="awwwards" class="right black">
        <a href="#" target="_blank">best websites of the world</a>
    </div>
    <!-- END彩带 -->
    <!-- 预加载器 -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- 顶部导航栏 -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- 手机端的和切换分组，以更好的移动显示 -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle"
                        type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <!--  <span class="entypo-list-add"></span>-->
                </button>


                <div id="logo-mobile" class="visible-xs">
                    <h1>Aden</h1>
                </div>

            </div>


            <!-- 右侧顶部-->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <!-- 右侧顶部 日期 时间  天气预报  div-->
                <div id="nt-title-container" class="navbar-left running-text visible-lg">
                    <!-- 日期空间 -->
                    <ul class="date-top">
                        <li class="entypo-calendar" style="margin-right:5px"></li>
                        <li id="Date"></li>
                    </ul>
                    <!--end 日期空间 -->
                    <!-- 时间DIV -->
                    <ul id="digital-clock" class="digital">
                        <li class="entypo-clock" style="margin-right:5px"></li>
                        <li class="hour"></li>
                        <li>:</li>
                        <li class="min"></li>
                        <li>:</li>
                        <li class="sec"></li>
                        <li class="meridiem"></li>
                    </ul>
                    <!--end 时间DIV -->
                </div>
                <ul style="margin-right:100px;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span th:text="${session.currentUserName}"></span><b class="caret"></b>
                        </a>
                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                            <li>
                                <a th:href="@{{path}/Loginout(path=${rootPath})}">
                                    <span class="entypo-basket"></span>&#160;&#160; 退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /结束顶部导航条 -->
</nav>