<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.process.PrintHistoryMapper">
    <resultMap id="BaseResultMap" type="com.fc.aden.model.custom.process.PrintHistory">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="items_code" jdbcType="VARCHAR" property="itemsCode"/>
        <result column="original_id" jdbcType="VARCHAR" property="originalId"/>
        <result column="print_lable_id" jdbcType="VARCHAR" property="printLableId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="food_category" jdbcType="VARCHAR" property="foodCategory"/>
        <result column="product_weight" jdbcType="VARCHAR" property="productWeight"/>
        <result column="correct_stage" jdbcType="VARCHAR" property="correctStage"/>
        <result column="correct_storage" jdbcType="VARCHAR" property="correctStorage"/>
        <result column="employer_name" jdbcType="VARCHAR" property="employerName"/>
        <result column="employer_id" jdbcType="VARCHAR" property="employerId"/>
        <result column="print_time" jdbcType="TIMESTAMP" property="printTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="shelf_life" jdbcType="VARCHAR" property="shelfLife"/>
        <result column="product_shelf_life" jdbcType="VARCHAR" property="productShelfLife"/>
        <result column="is_write_off" jdbcType="INTEGER" property="writeOffFlag"/>
        <result column="write_off_operator_no" jdbcType="VARCHAR" property="writeOffOperatorNo"/>
        <result column="write_off_operator_name" jdbcType="VARCHAR" property="writeOffOperatorName"/>
        <result column="write_off_time" jdbcType="TIMESTAMP" property="writeOffTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, items_code, original_id, print_lable_id, product_name, food_category, product_weight, correct_stage,
    correct_storage, employer_name,employer_id,print_time , create_time, update_time,shelf_life,is_write_off,write_off_operator_no,
    write_off_operator_name,write_off_time,product_shelf_life
  </sql>
    <select id="selectByExample" parameterType="com.fc.aden.model.custom.process.PrintHistoryExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from al_print_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByOriginalId" parameterType="com.fc.aden.model.custom.process.PrintHistoryExample"
            resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from al_print_history
        where original_id = #{originalId,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from al_print_history
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from al_print_history
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.fc.aden.model.custom.process.PrintHistoryExample">
        delete from al_print_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fc.aden.model.custom.process.PrintHistory">
        insert into al_print_history (id, items_code, original_id,
          print_lable_id, product_name, food_category, product_weight,
          correct_stage, correct_storage, employer_name, employer_id,
          print_time, create_time, update_time,shelf_life
          )
        values (#{id,jdbcType=VARCHAR}, #{itemsCode,jdbcType=VARCHAR}, #{originalId,jdbcType=VARCHAR},
          #{printLableId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{foodCategory,jdbcType=VARCHAR}, #{productWeight,jdbcType=VARCHAR},
          #{correctStage,jdbcType=VARCHAR}, #{correctStorage,jdbcType=VARCHAR}, #{employerName,jdbcType=VARCHAR}, #{employerId,jdbcType=VARCHAR},
          #{printTime,jdbcType=TIMESTAMP}, now(), now(), #{shelfLife,jdbcType=TIMESTAMP}
          )
  </insert>
    <insert id="insertSelective" parameterType="com.fc.aden.model.custom.process.PrintHistory">
        insert into al_print_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="itemsCode != null">
                items_code,
            </if>
            <if test="originalId != null">
                original_id,
            </if>
            <if test="printLableId != null">
                print_lable_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="foodCategory != null">
                food_category,
            </if>
            <if test="productWeight != null">
                product_weight,
            </if>
            <if test="correctStage != null">
                correct_stage,
            </if>
            <if test="correctStorage != null">
                correct_storage,
            </if>
            <if test="employerName != null">
                employer_name,
            </if>
            <if test="employerId != null">
                employer_id,
            </if>
            <if test="printTime != null">
                print_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="shelfLife != null">
                shelf_life,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="itemsCode != null">
                #{itemsCode,jdbcType=VARCHAR},
            </if>
            <if test="originalId != null">
                #{originalId,jdbcType=VARCHAR},
            </if>
            <if test="printLableId != null">
                #{printLableId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="foodCategory != null">
                #{foodCategory,jdbcType=VARCHAR},
            </if>
            <if test="productWeight != null">
                #{productWeight,jdbcType=VARCHAR},
            </if>
            <if test="correctStage != null">
                #{correctStage,jdbcType=VARCHAR},
            </if>
            <if test="correctStorage != null">
                #{correctStorage,jdbcType=VARCHAR},
            </if>
            <if test="employerName != null">
                #{employerName,jdbcType=VARCHAR},
            </if>
            <if test="employerId != null">
                #{employerId,jdbcType=VARCHAR},
            </if>
            <if test="printTime != null">
                #{printTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shelfLife != null">
                #{shelfLife,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fc.aden.model.custom.process.PrintHistoryExample"
            resultType="java.lang.Long">
        select count(*) from al_print_history
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update al_print_history
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.itemsCode != null">
                items_code = #{record.itemsCode,jdbcType=VARCHAR},
            </if>
            <if test="record.originalId != null">
                original_id = #{record.originalId,jdbcType=VARCHAR},
            </if>
            <if test="record.printLableId != null">
                print_lable_id = #{record.printLableId,jdbcType=VARCHAR},
            </if>
            <if test="record.productName != null">
                product_name = #{record.productName,jdbcType=VARCHAR},
            </if>
            <if test="record.foodCategory != null">
                food_category = #{record.foodCategory,jdbcType=VARCHAR},
            </if>
            <if test="record.correctStage != null">
                correct_stage = #{record.correctStage,jdbcType=VARCHAR},
            </if>
            <if test="record.correctStorage != null">
                correct_storage = #{record.correctStorage,jdbcType=VARCHAR},
            </if>
            <if test="record.employerName != null">
                employer_name = #{record.employerName,jdbcType=VARCHAR},
            </if>
            <if test="record.employerId != null">
                employer_id = #{record.employerId,jdbcType=VARCHAR},
            </if>
            <if test="record.printTime != null">
                print_time = #{record.printTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.shelfLife != null">
                shelf_life = #{record.shelfLife,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.custom.process.PrintHistory">
        update al_print_history
        <set>
            <if test="itemsCode != null">
                items_code = #{itemsCode,jdbcType=VARCHAR},
            </if>
            <if test="originalId != null">
                original_id = #{originalId,jdbcType=VARCHAR},
            </if>
            <if test="printLableId != null">
                print_lable_id = #{printLableId,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="employerId != null">
                employer_id = #{employerId,jdbcType=VARCHAR},
            </if>
            <if test="foodCategory != null">
                food_category = #{foodCategory,jdbcType=VARCHAR},
            </if>
            <if test="productWeight != null">
                product_weight = #{productWeight,jdbcType=VARCHAR},
            </if>
            <if test="correctStage != null">
                correct_stage = #{correctStage,jdbcType=VARCHAR},
            </if>
            <if test="correctStorage != null">
                correct_storage = #{correctStorage,jdbcType=VARCHAR},
            </if>
            <if test="employerName != null">
                employer_name = #{employerName,jdbcType=VARCHAR},
            </if>
            <if test="printTime != null">
                print_time = #{printTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = now(),
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="shelfLife != null">
                shelf_life = #{shelfLife,jdbcType=TIMESTAMP},
            </if>
            <if test="productShelfLife != null">
                product_shelf_life = #{productShelfLife,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.custom.process.PrintHistory">
        update al_print_history
        set
        is_write_off = #{writeOffFlag},
        write_off_time = #{writeOffTime},
        write_off_operator_name = #{writeOffOperatorName},
        write_off_operator_no = #{writeOffOperatorNo}
        where id = #{id,jdbcType=VARCHAR}
  </update>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into al_print_history (
        id,
        items_code,
        original_id,
        print_lable_id,
        product_name,
        food_category,
        product_weight,
        correct_stage,
        correct_storage,
        employer_name,
        employer_id,
        print_time,
        create_time,
        update_time,
        shelf_life,
        product_shelf_life
        )
        values
        <foreach collection="printHistoryList" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.itemsCode,jdbcType=VARCHAR},
            #{item.originalId,jdbcType=VARCHAR},
            #{item.printLableId,jdbcType=VARCHAR},
            #{item.productName,jdbcType=VARCHAR},
            #{item.foodCategory,jdbcType=VARCHAR},
            #{item.productWeight,jdbcType=VARCHAR},
            #{item.correctStage,jdbcType=VARCHAR},
            #{item.correctStorage,jdbcType=VARCHAR},
            #{item.employerName,jdbcType=VARCHAR},
            #{item.employerId,jdbcType=VARCHAR},
            #{item.printTime,jdbcType=TIMESTAMP},
            now(),
            now(),
            #{item.shelfLife,jdbcType=TIMESTAMP},
            #{item.productShelfLife,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <!--    项目管理员查询项目下数据-->
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from al_print_history
        where 1=1
        <if test="printUser != null ">
            and employer_name like CONCAT('%', #{printUser, jdbcType=VARCHAR}, '%')
        </if>
        <if test="items != null and items != ''">
            and items_code like CONCAT('%', #{items, jdbcType=VARCHAR}, '%')
        </if>
        <if test="product != null ">
            AND product_name like CONCAT('%', #{product, jdbcType=VARCHAR}, '%')
        </if>
        <if test="food != null ">
            AND food_category like CONCAT('%', #{food, jdbcType=VARCHAR}, '%')
        </if>
        <if test="stage != null ">
            AND correct_stage like CONCAT('%', #{stage, jdbcType=VARCHAR}, '%')
        </if>
        <if test="start != null ">
            AND print_Time >= #{start,jdbcType=TIMESTAMP}
        </if>
        <if test="end != null ">
            AND print_Time &lt;= #{end,jdbcType=TIMESTAMP}
        </if>
        <if test="dateToday != null">
            and shelf_life !='见包装' and now() &gt; date_format(shelf_life,'%Y-%c-%d %H:%i:%s')
            and is_write_off = 0
        </if>
        <if test="period == 1">
            and shelf_life != '见包装' and TO_DAYS(shelf_life)-TO_DAYS(now()) = 1
            and is_write_off = 0
        </if>
        <if test="writeOffFlag == 0">
            and is_write_off = 0
        </if>
        <if test="writeOffFlag == 1">
            and is_write_off = 1
        </if>
        and items_code = #{itemsCode}
        order by create_time desc
    </select>
    <!--    管理员查询所有数据-->
    <select id="selectByTag" resultMap="BaseResultMap" parameterType="com.fc.aden.model.custom.process.PrintHistory">
        select
        <include refid="Base_Column_List"/>
        from al_print_history
        where 1=1
        <if test="printUser != null ">
            and employer_name like CONCAT('%', #{printUser, jdbcType=VARCHAR}, '%')
        </if>
        <if test="itemsCode != null and itemsCode != ''">
            and items_code like CONCAT('%', #{itemsCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="product != null ">
            AND product_name like CONCAT('%', #{product, jdbcType=VARCHAR}, '%')
        </if>
        <if test="food != null ">
            AND food_category like CONCAT('%', #{food, jdbcType=VARCHAR}, '%')
        </if>
        <if test="stage != null ">
            AND correct_stage like CONCAT('%', #{stage, jdbcType=VARCHAR}, '%')
        </if>
        <if test="start != null ">
            AND print_Time &gt;= #{start,jdbcType=TIMESTAMP}
        </if>
        <if test="end != null ">
            AND print_Time &lt;= #{end,jdbcType=TIMESTAMP}
        </if>
        <if test="dateToday != null">
            and shelf_life != '见包装' and now() &gt; date_format(shelf_life,'%Y-%c-%d %H:%i:%s')
            and is_write_off = 0
        </if>
        <if test="period == 1">
            and shelf_life != '见包装' and TO_DAYS(shelf_life)-TO_DAYS(now()) = 1
            and is_write_off = 0
        </if>
        <if test="writeOffFlag == 0">
            and is_write_off = 0
        </if>
        <if test="writeOffFlag == 1">
            and is_write_off = 1
        </if>
        order by create_time desc
    </select>

    <select id="countExpired" resultType="Integer" parameterType="String">
        SELECT
            COUNT(*)
        FROM
            al_print_history
        WHERE is_write_off = 0
        <choose>
            <when test="expiredType == 1">
                AND TIMEDIFF(shelf_life, DATE_FORMAT(CURDATE(), '%Y-%m-%d %H:%i:%S')) BETWEEN 0 AND 24
            </when>
            <otherwise>
                AND TIMEDIFF(DATE_FORMAT(CURDATE(), '%Y-%m-%d %H:%i:%S'), shelf_life) > 0
            </otherwise>
        </choose>
        <if test="itemsCode != null and itemsCode != ''">
            and items_code = #{itemsCode, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="listExpired" parameterType="String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            al_print_history
        WHERE is_write_off = 0
        <choose>
            <when test="expiredType == 1">
                AND TIMEDIFF(shelf_life, DATE_FORMAT(CURDATE(), '%Y-%m-%d %H:%i:%S')) BETWEEN 0 AND 24
            </when>
            <otherwise>
                AND TIMEDIFF(DATE_FORMAT(CURDATE(), '%Y-%m-%d %H:%i:%S'), shelf_life) > 0
            </otherwise>
        </choose>
            <if test="itemsCode != null and itemsCode != ''">
                and items_code = #{itemsCode, jdbcType=VARCHAR}
            </if>
    </select>

    <select id="isExistPrintIdAndItemCode" resultType="Boolean" parameterType="String">
        SELECT
           COUNT(*)
        FROM
            al_print_history
        WHERE
            print_lable_id = #{printLableId, jdbcType=VARCHAR}
            and items_code = #{itemsCode, jdbcType=VARCHAR}
    </select>

    <update id="writeOffBatch" parameterType="java.util.List">
        UPDATE
          al_print_history
        SET
          is_write_off = 1,
          write_off_operator_no = #{writeOffOperatorNo, jdbcType=VARCHAR},
          write_off_operator_name = #{writeOffOperatorName, jdbcType=VARCHAR},
          write_off_time = #{writeOffTime, jdbcType=TIMESTAMP}
        where print_lable_id in
        <foreach collection="printLabelIdList" index="index" item="item" separator="," open="(" close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="selectByPrintLabelId" parameterType="String" resultType="com.fc.aden.model.custom.process.PrintHistory">
        select
            <include refid="Base_Column_List"/>
        from
            al_print_history
        where
            print_lable_id = #{printLableId, jdbcType=VARCHAR}
        LIMIT 0, 1
    </select>
</mapper>