<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.aden.mapper.auto.process.TSysFoodMapper" >
  <resultMap id="BaseResultMap" type="com.fc.aden.model.custom.process.TSysFood" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="items_code" property="itemsCode" jdbcType="VARCHAR"/>
    <result column="food" property="food" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER"/>
    <result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_Time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, items_code,food, name, english_name, picture, status,create_Time, update_Time
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_food
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fc.aden.model.custom.process.TSysFoodExample" >
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_food a
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.fc.aden.model.custom.process.TSysFoodExample">
    delete from t_sys_food
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_food
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.aden.model.custom.process.TSysFood" >
    insert into t_sys_food (id, items_code,food, name,
      english_name, picture, status,create_Time,
      update_Time)
    values (#{id,jdbcType=VARCHAR}, #{itemsCode ,jdbcType=VARCHAR} ,#{food,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{englishName,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER} ,now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.fc.aden.model.custom.process.TSysFood" >
    insert into t_sys_food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemsCode != null" >
        items_code,
      </if>
      <if test="food != null" >
        food,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_Time,
      </if>
      <if test="updateTime != null" >
        update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemsCode != null" >
        #{itemsCode,jdbcType=INTEGER},
      </if>
      <if test="food != null" >
        #{food,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
       now(),
      </if>
      <if test="updateTime != null" >
       now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.custom.process.TSysFood" >
    update t_sys_food
    <set >
      <if test="food != null" >
        food = #{food,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_Time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.custom.process.TSysFood" >
    update t_sys_food
    set
      items_code = #{itemsCode,jdbcType=VARCHAR},
      food = #{food,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      update_Time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectFoodList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_food
    <where>
      <if test="keyword != null">
        food like #{keyword,jdbcType=VARCHAR}
      </if>
      <if test="itemsCode != null">
        and items_code like #{itemsCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <update id="updateStatusById" parameterType="map">
    update t_sys_food
    set
    <choose>
      <when test="status == 1">
        status = 0
      </when>
      <when test="status == 0">
        status = 1
      </when>
    </choose>
    where id = #{id}
  </update>
  <select id="findByFood" resultMap="BaseResultMap" parameterType="com.fc.aden.model.custom.process.TSysFood">
    select
    <include refid="Base_Column_List"/>
    from t_sys_food
    where food like #{food,jdbcType=VARCHAR}
  </select>

  <select id="findByFoodId" resultMap="BaseResultMap" parameterType="com.fc.aden.model.custom.process.TSysFood">
    select
    <include refid="Base_Column_List"/>
    from t_sys_food
     where   food like #{food,jdbcType=VARCHAR}
  </select>

</mapper>