<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.process.TSysProductMapper">
  <resultMap id="BaseResultMap" type="com.fc.aden.model.custom.process.TSysProduct">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, item_id,product,name,english_name, status,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    insert into t_sys_product (id, item_id,product,name,english_name, status,create_time, update_time)
    values (#{id,jdbcType=VARCHAR},#{itemId,jdbcType=VARCHAR},#{product,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=INTEGER},#{status,jdbcType=INTEGER}
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    insert into t_sys_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="product != null">
        product,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="englishName != null">
        english_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR} ,
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    update t_sys_product
    <set>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    update t_sys_product
    set
      item_id = #{itemId,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
  </select>
  <select id="selectProductBycName" resultType="int" parameterType="string">
    select
    count(1)
    from t_sys_product
    where product = #{product,jdbcType=VARCHAR}
  </select>
  <delete id="deleteProductByIds" parameterType="map">
    delete
    from t_sys_product
    where id in
    <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="selectListBycNameOreName" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
    where product like #{searchTxt} or name like #{searchTxt} or english_name like #{searchTxt}
  </select>
  <update id="updateStatusById" parameterType="map">
    update t_sys_product
    set
    <choose>
      <when test="status == 1">
        status = 0
      </when>
      <when test="status == 0">
        status = 1
      </when>
    </choose>
    where id = #{id}
  </update>
  <select id="selectProductList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
    <where>
      <if test="keyword != null">
        name like #{keyword,jdbcType=VARCHAR}
      </if>
      <if test="itemId != null">
        and item_id like #{itemId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>