<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.process.TSysStoreMapper">
  <resultMap id="BaseResultMap" type="com.fc.aden.model.custom.process.TSysStore">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="query" jdbcType="VARCHAR" property="query" />
    <result column="c_condition" jdbcType="VARCHAR" property="cCondition" />
    <result column="e_condition" jdbcType="VARCHAR" property="eCondition" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, query, c_condition, e_condition, temperature, status, creat_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_store
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_store
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.aden.model.custom.process.TSysStore">
    insert into t_sys_store (id, query, c_condition, 
      e_condition, temperature, status, 
      creat_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{query,jdbcType=VARCHAR}, #{cCondition,jdbcType=VARCHAR}, 
      #{eCondition,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{creatTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fc.aden.model.custom.process.TSysStore">
    insert into t_sys_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="query != null">
        query,
      </if>
      <if test="cCondition != null">
        c_condition,
      </if>
      <if test="eCondition != null">
        e_condition,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="query != null">
        #{query,jdbcType=VARCHAR},
      </if>
      <if test="cCondition != null">
        #{cCondition,jdbcType=VARCHAR},
      </if>
      <if test="eCondition != null">
        #{eCondition,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.custom.process.TSysStore">
    update t_sys_store
    <set>
      <if test="query != null">
        query = #{query,jdbcType=VARCHAR},
      </if>
      <if test="cCondition != null">
        c_condition = #{cCondition,jdbcType=VARCHAR},
      </if>
      <if test="eCondition != null">
        e_condition = #{eCondition,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.custom.process.TSysStore">
    update t_sys_store
    set query = #{query,jdbcType=VARCHAR},
      c_condition = #{cCondition,jdbcType=VARCHAR},
      e_condition = #{eCondition,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_store
  </select>
  <delete id="delectStoreByIds" parameterType="map">
    delete
    from t_sys_store
    where id in
    <foreach collection="storeIdlist" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <update id="updateStatusById" parameterType="map">
    update t_sys_store
    set
    <choose>
      <when test="status == 1">
        status = 0
      </when>
      <when test="status == 0">
        status = 1
      </when>
    </choose>
    where id = #{id}
  </update>

  <select id="selectListBycQuery" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_store
    where query like #{searchTxt} or c_condition like #{searchTxt}
  </select>
</mapper>