<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.TsysUserMapper">
    <resultMap id="BaseResultMap" type="com.fc.aden.model.auto.TsysUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="items_code" jdbcType="VARCHAR" property="itemsCode"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="roles" jdbcType="VARCHAR" property="roles"/>
    </resultMap>
    <resultMap id="BaseResultAllMap" type="com.fc.aden.vo.UserVO">

        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="english_name" jdbcType="VARCHAR" property="englishName"/>
        <result column="items_code" jdbcType="VARCHAR" property="itemsCode"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="roles" jdbcType="VARCHAR" property="roles"/>

     <!--   <collection property="tSysItems" ofType="com.fc.aden.vo.ItemsVO">
            <result column="item_code" jdbcType="VARCHAR" property="itemsCode"/>
            <result column="item_name" jdbcType="VARCHAR" property="name"/>
        </collection>-->
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, username,name,password, number, english_name,items_code, phone_number, update_time,
        create_time,roles
  </sql>
    <select id="selectByExample" parameterType="com.fc.aden.model.auto.TsysUserExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
         order by update_time desc
    </select>

    <select id="selectByUserItems" parameterType="com.fc.aden.model.auto.TsysUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where 1=1
        <if test="username != null and  username !=''">
            and username like CONCAT('%', #{username, jdbcType=VARCHAR}, '%')
        </if>
        <if test="phone != null and  phone !=''">
            and phone_number like CONCAT('%', #{phone, jdbcType=VARCHAR}, '%')
        </if>
        <if test="name != null and  name !=''">
            and name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%') or english_name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
         and items_code = #{itemsCode}
        order by update_time desc
    </select>

    <select id="queryByUser" parameterType="com.fc.aden.model.auto.TsysUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where 1=1
        <if test="itemsCode != null and itemsCode != ''">
            and items_code like CONCAT('%', #{itemsCode, jdbcType=VARCHAR}, '%')
        </if>
        <if test="username != null and  username !=''">
            and username like CONCAT('%', #{username, jdbcType=VARCHAR}, '%')
        </if>
        <if test="phone != null and  phone !=''">
            and phone_number like CONCAT('%', #{phone, jdbcType=VARCHAR}, '%')
        </if>
        <if test="name != null and  name !=''">
            and name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%') or english_name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
        </if>
        order by update_time desc
    </select>
    <select id="selectByNameOrNumber" parameterType="com.fc.aden.model.auto.TsysUser" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_sys_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByName" parameterType="com.fc.aden.model.auto.TsysUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_sys_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.fc.aden.model.auto.TsysUserExample">
        delete from t_sys_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fc.aden.model.auto.TsysUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sys_user (username,name, password, number,
        english_name,  items_code,phone_number,
        update_time,  create_time,roles)
        values (#{username,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{number,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},  #{itemsCode,jdbcType=VARCHAR} ,#{phoneNumber,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{roles,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.fc.aden.model.auto.TsysUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="number != null">
                number,
            </if>

            <if test="englishName != null">
                english_name,
            </if>
            <if test="itemsCode != null">
                items_code,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
             <if test="roles != null">
                 roles,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="itemsCode != null">
                #{itemsCode,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roles != null">
                #{roles,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fc.aden.model.auto.TsysUserExample" resultType="java.lang.Long">
        select count(*) from t_sys_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_sys_user
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.username != null">
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.number != null">
                number = #{record.number,jdbcType=VARCHAR},
            </if>
            <if test="record.englishName != null">
                english_name = #{record.englishName,jdbcType=VARCHAR},
            </if>
            <if test="record.itemsCode != null">
                items_code = #{record.itemsCode} ,jdbcType=VARCHAR},
            </if>
            <if test="record.phoneNumber != null">
                phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.roles != null">
                roles = #{record.roles,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_sys_user
        set id = #{record.id,jdbcType=VARCHAR},
        username = #{record.username,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        number = #{record.number,jdbcType=VARCHAR},
        english_name = #{record.englishName,jdbcType=VARCHAR},
        items_code = #{record.itemsCode,jdbcType=VARCHAR} ,
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        roles = #{record.roles,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.auto.TsysUser">
        update t_sys_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=VARCHAR},
            </if>
            <if test="englishName != null">
                english_name = #{englishName,jdbcType=VARCHAR},
            </if>
            <if test="itemsCode != null">
                items_code = #{itemsCode,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roles != null">
                roles = #{roles,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.auto.TsysUser">
        update t_sys_user
        set username = #{username,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
          password = #{password,jdbcType=VARCHAR},
          number = #{number,jdbcType=VARCHAR},
          english_name = #{englishName,jdbcType=VARCHAR},
          items_code = #{itemsCode,jdbcType=VARCHAR},
          phone_number = #{phoneNumber,jdbcType=VARCHAR},
          update_time = #{updateTime,jdbcType=TIMESTAMP},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          roles = #{roles,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="checkUserName"  parameterType="java.lang.String" resultType="int">
        select count(1)
        from t_sys_user
        where number = #{username}
    </select>
   <!-- <select id="selectLoginVo"  resultMap="BaseResultAllMap"  parameterType="java.lang.String" >
        select
        users.*,
        item.item_code,
        item.item_name
        from t_sys_user users  LEFT JOIN t_sys_items item on
        case when
            users.roles != '2'
        then
			users.items_code = item.items_code
		ELSE 1
	    end
       WHERE users.username = #{number}
    </select>-->
    <select id="selectLogin"  resultMap="BaseResultMap"  parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
       WHERE username = #{number}
    </select>
    <select id="selectLoginOrItem" resultMap="BaseResultAllMap"  parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
       WHERE username = #{number}
    </select>
    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where items_code = #{itemsCode}
    </select>

    <select id="isExist" resultType="Boolean" parameterType="String">
        SELECT COUNT(*) FROM
            t_sys_user
        WHERE
            username = #{username}
        AND items_code = #{itemsCode};
    </select>
</mapper>