<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.TSysItemsMapper">
  <resultMap id="BaseResultMap" type="com.fc.aden.model.auto.TSysItems">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="items_code" jdbcType="VARCHAR" property="itemsCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_Time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, items_code, name, english_name, create_Time, update_Time
  </sql>
  <select id="selectByExample" parameterType="com.fc.aden.model.auto.TSysItemsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sys_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by update_Time desc
    </if>
  </select>
  <select id="selectByItems" parameterType="com.fc.aden.model.auto.TSysItems" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_items
    where items_code = #{itemsCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_items
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByItemCode"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_items
    where items_code = #{itemsCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_items
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.aden.model.auto.TSysItemsExample">
    delete from t_sys_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <delete id="deleteByItems" parameterType="com.fc.aden.model.auto.TSysItems">
    delete from t_sys_items
   where items_code = #{itemsCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.aden.model.auto.TSysItems">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_items (items_code, name, english_name,
      create_Time, update_Time)
    values (#{itemsCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fc.aden.model.auto.TSysItems">
    insert into t_sys_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemsCode != null">
        items_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="englishName != null">
        english_name,
      </if>
      <if test="createTime != null">
        create_Time,
      </if>
      <if test="updateTime != null">
        update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemsCode != null">
        #{itemsCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fc.aden.model.auto.TSysItemsExample" resultType="java.lang.Long">
    select count(*) from t_sys_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sys_items
    <set>
      <if test="record.itemsCode != null">
        items_code = #{record.itemsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null">
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_Time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sys_items
    set id = #{record.id,jdbcType=VARCHAR},
    items_code = #{record.itemsCode,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      update_Time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.auto.TSysItems">
    update t_sys_items
    <set>
      <if test="itemsCode != null">
        items_code = #{itemsCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_Time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.auto.TSysItems">
    update t_sys_items
    set items_code = #{itemsCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      update_Time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectItemByUserNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        u.items_code,i.id as 'id',i.name,i.english_name,i.create_Time,i.update_Time
        from t_sys_user u left join t_sys_items i on u.items_code = i.items_code
        WHERE u.number = #{number}
    </select>

  <select id="selectItemList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_items
    <where>
      <if test="keyword != null">
        items_code like #{keyword,jdbcType=VARCHAR} or name like #{keyword,jdbcType=VARCHAR} or english_name like #{keyword,jdbcType=VARCHAR}
      </if>
      <if test="itemsCode != null">
        items_code = #{itemsCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>