<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.aden.mapper.auto.process.TSysProductMapper">
  <resultMap id="BaseResultMap" type="com.fc.aden.model.custom.process.TSysProduct">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="items_code" jdbcType="VARCHAR" property="itemsCode" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="food_name" jdbcType="VARCHAR" property="foodName" />
    <result column="shelf_life" jdbcType="VARCHAR" property="shelfLife" />
  </resultMap>
  <sql id="Base_Column_List">
    id, items_code,product,name,english_name,status,create_time, update_time,food_name,shelf_life
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByProduct" parameterType="com.fc.aden.model.custom.process.TSysProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_product
    where product = #{product,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <!--根据食品种类id删除-->
  <delete id="deleteByFoodId" parameterType="java.lang.String">
    delete from t_sys_product
    where food_name = #{foodName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    insert into t_sys_product (id, items_code,product,name,english_name, status,create_time, update_time,food_name,shelf_life)
    values (#{id,jdbcType=VARCHAR},#{itemsCode,jdbcType=VARCHAR},#{product,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=INTEGER},#{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
     #{updateTime,jdbcType=TIMESTAMP},#{foodName,jdbcType=INTEGER},#{shelfLife,jdbcType=INTEGER})
     order by update_time desc
  </insert>
  <insert id="insertSelective" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    insert into t_sys_product (id,items_code,product, name,english_name,status,create_time, update_time, food_name,
     shelf_life) values (#{id,jdbcType=VARCHAR},#{itemsCode,jdbcType=VARCHAR},#{product,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=INTEGER},#{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
     #{updateTime,jdbcType=TIMESTAMP},#{foodName,jdbcType=INTEGER},#{shelfLife,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    update t_sys_product
    <set>
      <if test="itemsCode != null">
        items_code = #{itemsCode,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
      <if test="foodName != null">
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        shelf_life = #{shelfLife,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.aden.model.custom.process.TSysProduct">
    update t_sys_product
    set
      items_code = #{itemsCode,jdbcType=VARCHAR},
      product = #{product,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now(),
      food_name = #{foodName,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
  </select>
  <select id="selectProductBycName" resultType="int" parameterType="string">
    select
    count(1)
    from t_sys_product
    where product = #{product,jdbcType=VARCHAR}
  </select>
  <delete id="deleteProductByIds" parameterType="map">
    delete
    from t_sys_product
    where id in
    <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="selectListBycNameOreName"  parameterType="com.fc.aden.model.custom.process.TSysProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
      <where>
      <if test="searchTxt != null and searchTxt !='%%'">
            and product like #{searchTxt}  or name like #{searchTxt}  or english_name like #{searchTxt}
      </if>
      <if test="itemsCode != null and itemsCode !='%%' ">
             and items_code like #{itemsCode}
      </if>
      </where>
  </select>

  <update id="updateStatusById" parameterType="map">
    update t_sys_product
    set
    <choose>
      <when test="status == 1">
        status = 0
      </when>
      <when test="status == 0">
        status = 1
      </when>
    </choose>
    where id = #{id}
  </update>
  <select id="selectProductList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_sys_product
    <where>
      <if test="keyword != null">
        name like #{keyword,jdbcType=VARCHAR}
      </if>
      <if test="itemsCode != null">
        and items_code like #{itemsCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>