body{
    text-align: center
}
.massage,.content{
    position: relative;
    text-align: center;
}
.massage{
    width: auto;
    height: 30px;
    line-height: 30px;
}
.massage #error{
    color: red;
}
.massage #success{
    color: green;
}
button {
    position: absolute;
    left: 550px;
    line-height: 24px;
}
table{
    margin: 0 auto;

    width: 500px;
    height: auto;
    border-collapse:separate;
    border-spacing:0px 10px;
}
th,td{
    text-align: center;
    border-bottom : 1px solid black;
    font-size: 130%;
    height: 20px;
    line-height: 30px;
}